
#welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
}

@media screen and (max-width: 1200px){
    #bgphoto {
        background-size: 50%;
    }
}