body {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
#container {
    padding: 2%;    
}

#welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 6%;
}

#quote {
    margin-top: 4%;
    
}

button {
    margin: 1%;
}