#bgphoto {
    width: 100%;
    height: 100%;
    margin-top: 2%;
}

#welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2%;
}

#quote {
    margin-top: 2%;
}