body {
    padding-bottom: 40px;
}
/* Entire page styling */
.pagecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ------------------------------------------------------- */
/* Big box styling */
.macrobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /*temporary while styling to clearly see box*/
    width: 50%; /* temporary while styling to clearly see box */
    margin-top: 1%;
    margin-bottom: 1%;
}
/* ------------------------------------------------------- */
/* Top box under navbar */
#mealbox {
    width: 90%;
    height: 20%;
    /* border: 2px solid black; */
}

/* Inside mealbox */
#mealselect {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid black; */
     /*temporary while styling to clearly see box*/
    width: 60%; /* temporary while styling to clearly see box */
    background-color: #dc3444;
    border-radius: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#whitetext {
    color: white;
}

#threebuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 3px solid black; temporary while styling to clearly see box */
    width: 80%; /* temporary while styling to clearly see box */
    padding-top: 3%;
    padding-bottom: 3%;
}

#lunchbutton {
    margin-inline: 15%;
}

#ingredientsPic {
    height: 60%;
    width: 80%;
}

#pantry {
    width: 50%;
    
}

#ingredientsinput {
    width: 70%;
}

#ingredientsinputbox {
    width: 70%;
}

#pantrybutton {
    margin-top: 10px;
}

#ingredientsbox {
    /* border: 3px solid black;  */
    width: 70%;
}

.card {
    margin: 2%;
}

.card:hover {
    transform: scale(1.1);
}

#suggestionsbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1%;
    justify-content: space-evenly;
}