body {
    padding-bottom: 30px;
}

#header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
}

#mealbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mealselect {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dc3444;
    color: white;
    padding: 15px;
    border-radius: 7px;
    margin-top: 2%;
    
}

#mealtype {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-bottom: 1%;
}

hr {
    background-color: #dc3444;
    color: #dc3444;
    width: 95%;
    height: 4px;
    border-radius: 2px;
}

#cuisine {
    margin-top: 2%;
    width: 90%;
    justify-content: space-between;
    text-align: center;
}

button {
    margin: 0.7%;
    align-items: center;
}

#submitButton {
    background-color: #dc3444;
    color: white;
    padding: 10px;
}

#queryInput {
    margin: 2%;
    width: 40%;
}

.card {
    margin: 2%;
}

#suggestionsbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1%;
    justify-content: space-evenly;
}


