#header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2%;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 2%;
    align-items: center;
}

#selection {
    margin-top: 2%;
    width: 50%;
}