#container {
    padding: 2%;
}



#welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3%;
}

#selectPrompt {
    margin-top: 4%;
}

button {
    margin: 1%;
}